// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#imp-builder_library-panel-toggle {
    padding: 2px 12px;
    font-size: 26px;
    i {
        @include transition(.1s);
        @include rotate(0deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        width: 26px;
    }
    &.active {
        i {
            @include rotate(45deg);
        }
    }
}

#imp-builder_tools-toggle {
    i {
        margin-left: 4px;
        vertical-align: middle;
        font-size: 18px;
    }
}

.imp-builder_library-panel {
    position: fixed;
    right: 15px;
    top: 80px;
    z-index: 1030;
    width: 380px;
    background: #fff;
    box-shadow: 0 8px 40px 4px rgba(0,0,0,.3);
    border-radius: 3px;
    color: #808080;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    @include scale(.8,.8);
    @include transition(.1s);
    visibility: hidden;
    opacity: 0;
    &.active {
        @include scale(1,1);
        visibility: visible;
        opacity: 1;
    }
    .imp-builder_panel-arrow {
        position: absolute;
        top: -5px;
        left: 0;
        right: 45px;
        margin: auto;
        width: 30px;
        height: 30px;
        background-color: $primary-color;
        @include rotate(45deg);
    }
    .imp-builder_panel-header {
        position: relative;
        z-index: 2;
        border-top: 3px solid $primary-color;
        border-bottom: 2px solid #e6eaed;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: #fff;
        .builder-category-tabs {
            margin-left: 10px;
            border: 0;
            > li {
                margin: 0;
                > a {
                    padding: 10px 15px;
                    border: 0;
                    border-radius: 0;
                    font-weight: bold;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            >li.active>a, 
            >li.active>a:focus, 
            >li.active>a:hover {
                color: $primary-color;
                border: 0;
            }
        }
    }
    .imp-builder_panel-body {
       padding: 15px 15px 20px;
    }
    .elements-list {
        list-style: none;
        padding-left: 0;
        margin: 0px auto auto;
        font-weight: bold;
        > li {
            float: left;
            width:50%;
            padding: 10px;
            font-weight: 600;
            margin-bottom: 15px;
            cursor: pointer;
            @include transition(.35s);
            &:hover {
                -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                color: #000;
            }
            i {
                margin-right: 5px;
                font-size: 22px;
                vertical-align: middle;
            } 
        }
    }
    .rows-list {
        .row-item {
            float: left;
            width: 50%;
            padding: 10px;
            margin-bottom: 15px;
            cursor: pointer;
            @include transition(.35s);
            &:hover {
                -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                color: #000;
            }
            .row-visual {
                margin-left: -2px;
                margin-right: -2px;
                margin-bottom: 4px;
                &:after {
                    display: table;
                    clear: both;
                    content: "";
                }
            }
            .row-title {
                font-weight: 600;
            }
            span {
                display: block;
                width: calc(100% - 4px);
                float: left;
                margin: 0 2px;
                height: 30px;
                background-color: #464a4c;
                border-radius: 2px;
            }
        }
        .col-2 {
            span {
                width: calc(50% - 4px);
            }
        }
        .col-3 {
            span {
                width: calc(33.333% - 4px);
            }
        }
        .col-4 {
            span {
                width: calc(25% - 4px);
            }
        }
        .col-6 {
            span {
                width: calc(16.66% - 4px);
            }
        }
    }
    .section-templates-list {
        .section-template-item {
            float: left;
            width: 50%;
            padding: 10px;
            margin-bottom: 15px;
            cursor: pointer;
            @include transition(.35s);
            &:hover {
                -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                color: #000;
            }
            .img-container {
                height: 100px;
                margin-bottom: 8px;
                img {
                    @include object-fit(cover);
                }
            }
            .template-title {
                font-weight: 600;
            }
        }
    }
}

// tools menu
.imp-builder_tools-menu-panel {
    position: fixed;
    right: 15px;
    top: 80px;
    z-index: 1030;
    min-width: 250px;
    background: #fff;
    box-shadow: 0 8px 40px 4px rgba(0,0,0,.3);
    border-radius: 3px;
    color: #808080;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    @include scale(.8,.8);
    @include transition(.1s);
    visibility: hidden;
    opacity: 0;
    border-top: 3px solid #9bba39;
    &.active {
        @include scale(1,1);
        visibility: visible;
        opacity: 1;
    }
    .imp-builder_tools-arrow {
        position: absolute;
        top: -8px;
        right: 35px;
        width: 30px;
        height: 30px;
        background-color: $primary-color;
        @include rotate(45deg);
    }
    .imp-builder_tools-body {
        position: relative;
        padding: 15px 10px;
        background-color: #fff;
        border-radius: 3px;
    }
    .imp-builder_tools-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            > a {
                display: block;
                padding: 8px 10px;
                border-radius: 4px;
                font-weight: 600;
                &:hover,&:focus,&:active {
                    text-decoration: none;
                    background-color: #e6eaed;
                    color: #000;
                }
                i {
                    margin-right: 8px;
                    vertical-align: middle;
                }
            }
        }
        .list-seperator {
            margin: 8px 0;
            border-top: 1px solid #ddd;
        }
    }
}

.imp-builder_page-content {

}

.imp-builder_stage {
    position: relative;
    overflow: hidden;
}

.imp-builder_empty {
    padding: 15px;
    .imp-builder_content {
        border: 2px dashed #969696;
        border-radius: 8px;
        color: #909090;
        height: 600px;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}

.imp-builder_row {
    position: relative;
}

.imp-builder_row-placeholder {
    border: 3px dashed $primary-color;
    margin: 4px 2px;
    height: 50px;
}

.imp-builder_widget-settings-overlay {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid $primary-color;
    border-radius: 4px;
    z-index: 9;
    pointer-events: none;
    @include transition(.35s);
    .imp-builder_row-settings {
        position: absolute;
        list-style: none;
        padding-left: 0;
        padding-right: 4px;
        margin: 0;
        background-color: $primary-color;
        border-bottom-right-radius: 4px;
        pointer-events: all;
        &:after {
            display: table;
            clear: both;
            content: "";
        }
        > li {
            float: left;
            > a{
                display: block;
                padding: 4px 12px;
                color: #fff;
                font-size: 18px;
                
            }
        }
    }
}

.imp-builder_settings-lightbox {
    position: absolute;
    left: 8px;
    top: 40px;
    z-index: 99;
    width: 380px;
    background: #fff;
    box-shadow: 0 8px 40px 4px rgba(0,0,0,.3);
    border-radius: 3px;
    color: #808080;
    .imp-builder_lightbox-header {
        position: relative;
        z-index: 2;
        border-top: 3px solid $primary-color;
        border-bottom: 2px solid #e6eaed;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: #fff;
        .lightbox-title {
            padding: 12px 15px;
            font-size: 18px;
            font-weight: 600;
            color: #333;
        }
        .settings-category-tabs {
            border: 0;
            margin: 0 4px 5px;
            > li {
                margin: 0;
                width: 50%;
                &:first-child {
                    > a {
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                }
                &:last-child {
                    > a {
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
                > a {
                    padding: 6px 15px;
                    border: 2px solid #e6eaed;
                    border-radius: 0;
                    font-weight: 600;
                    text-align: center;
                    font-size: 14px;
                    margin: 0;
                    &:hover {
                        background-color: transparent;
                    }
                }
                &.active > a {
                    background-color: #e6eaed;
                }
            }
            >li.active>a, 
            >li.active>a:focus, 
            >li.active>a:hover {
                color: $primary-color;
                border: 2px solid #e6eaed;
                margin: 0;
            }
        }
    }
    .imp-builder_lightbox-body {
        overflow-y: scroll;
        height: 355px;
        background-color: #F5F7F9;
        font-weight: normal;
        font-size: 14px;
        /* width */
        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #c9ced3; 
            border-radius: 4px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #c9ced3; 
        }
        label {
            margin-left: 4px;
            font-size: 13px;
            color: #333;
            font-weight: 600;
        }
        .imp-builder_widget-settings-section {
            position: relative;
            padding: 40px 15px 15px;
            border-top: 2px solid #E6EAED;
            h3 {
                position: absolute;
                padding: 2px 15px;
                top: 0;
                left: 0;
                background-color: #E6EAED;
                margin: 0;
                text-transform: uppercase;
                font-size: 13px;
                color: #333;
                font-weight: 600;
            }
        }
        .form-group {
            .form-control {
                box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
                border: none;
                font-size: 13px;
            }
            .form-group-inner {
                display: inline-block;
                text-align: center;
            }
        }
        .margin-input-group,
        .padding-input-group {
            label {
                display: block;
            }
            .form-group-inner {
                display: inline-block;
                margin-right: 4px;
                .form-control {
                    height: 36px;
                    padding: 6px 12px;
                    margin-bottom: 4px;
                }
                label {
                    font-size: 12px;
                }
            }
            ._label {
                vertical-align: top;
                padding: 7px 2px;
                color: #000;
            }
        }
    }
    .imp-builder_lightbox-footer {
        background-color: #F5F7F9;
        padding: 6px 5px;
        .btn {
            margin-right: 2px;
            border-radius: 2px;
            border: 0;
            width: calc(33.333% - 4px);
            font-weight: 600;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}