<div class="imp-builder_settings-lightbox">
    <div class="imp-builder_lightbox-header">
        <div class="lightbox-title">Row Settings</div>
        <ul class="settings-category-tabs nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#style-tab">Style</a></li>
            <li><a data-toggle="tab" href="#advanced-tab">Advanced</a></li>
        </ul>
    </div>
    <div class="imp-builder_lightbox-body">
        <div class="tab-content">
            <div id="style-tab" class="tab-pane fade in active">
                <div class="imp-builder_widget-settings-section">
                    <h3>Layout</h3>
                    <div class="form-group">
                        <label for="">Width</label>
                        <select class="form-control">
                            <option>Full Width</option>
                            <option>Fixed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Content Width</label>
                        <select class="form-control">
                            <option>Full Width</option>
                            <option>Fixed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Content Alignment</label>
                        <select class="form-control">
                            <option>Left</option>
                            <option>Center</option>
                            <option>Right</option>
                        </select>
                    </div>
                </div>
                <div class="imp-builder_widget-settings-section">
                    <h3>Background</h3>
                    <div class="form-group">
                        <label for="">Type</label>
                        <select class="form-control">
                            <option>None</option>
                            <option>Color</option>
                            <option>Photo</option>
                            <option>Video</option>
                            <option>Parallax</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Background Color</label>
                        <input type="colorpicker" class="form-control">
                    </div>
                </div>
                <div class="imp-builder_widget-settings-section">
                    <h3>Background Photo</h3>
                    <div class="form-group">
                        <label for="">Photo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Position</label>
                        <select class="form-control">
                            <option>Left Top</option>
                            <option>Left Center</option>
                            <option>Left Bottom</option>
                            <option>Right Top</option>
                            <option>Right Center</option>
                            <option>Right Bottom</option>
                            <option>Center Top</option>
                            <option>Center</option>
                            <option>Center Bottom</option>
                        </select>
                    </div>
                </div>
                <div class="imp-builder_widget-settings-section">
                    <h3>Background Video</h3>
                    <div class="form-group">
                        <label for="">Video</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="imp-builder_widget-settings-section">
                    <h3>Background Overlay</h3>
                    <div class="form-group">
                        <label for="">Overlay</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div id="advanced-tab" class="tab-pane fade">
                <div class="imp-builder_widget-settings-section">
                    <h3>Spacing</h3>
                    <div class="form-group margin-input-group">
                        <label for="">Margins</label>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Top</label>
                        </div>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Right</label>
                        </div>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Bottom</label>
                        </div>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Left</label>
                        </div>
                        <div class="form-group-inner _label">
                            px
                        </div>
                    </div>

                    <div class="form-group padding-input-group">
                        <label for="">Padding</label>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Top</label>
                        </div>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Right</label>
                        </div>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Bottom</label>
                        </div>
                        <div class="form-group-inner">
                            <select class="form-control">
                                <option>0</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>
                            </select>
                            <label for="">Left</label>
                        </div>
                        <div class="form-group-inner _label">
                            px
                        </div>
                    </div>
                </div>


                <div class="imp-builder_widget-settings-section">
                    <h3>Visibility</h3>
                    <div class="form-group">
                        <label for="">Display</label>
                        <select class="form-control">
                            <option>Hidden</option>
                            <option>Always</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="imp-builder_lightbox-footer">
        <button class="imp-builder_button btn">Save</button>
        <button class="imp-builder_button btn">Save As...</button>
        <button class="imp-builder_button btn close-widget-settings-btn">Cancel</button>
    </div>
</div>