<div class="imp-builder_widget-settings-overlay">
    <ul class="imp-builder_row-settings">
        <li><a href="javascript:void(0);" class="imp-builder_row-block-move"><i class="fal fa-arrows"></i></a></li>
        <li><a href="javascript:void(0);" class="imp-builder_row-block-clone"><i class="fal fa-clone"></i></a></li>
        <li><a href="javascript:void(0);" class="imp-builder_row-block-settings"><i class="fal fa-wrench"></i></a></li>
        <li><a href="javascript:void(0);" class="imp-builder_row-block-delete"><i class="fal fa-trash-alt"></i></a></li>
    </ul>
</div>